<!DOCTYPE html>
<html lang="en">

<head>
    <title>Food Blog</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <aside id="leftside"></aside>
    <aside id="rightside"></aside>
    <template id="food-blog-app">
        <div id="container">

            <header><span>{{title}}</span></header>
            <main>
                <aside id="photos">
                    <img src="images/chili.jpg" alt="White Chicken Chili" width="180">
                </aside>
                <h2>{{heading}}</h2>

                <section id="blogposts">
                    <post v-for="(author, index) in authors" :author="author" :key="index" :data-name="author.name"
                        :data-lvl="author.lvl" :data-bio="author.bio">
                    </post>
                </section>

                <modal :modal="modal" v-if="visible">
                    <template #close>
                        <div @click="closeModal">
                            X</div>
                    </template><template #default>
                        <button @click="closeModal">Close</button>
                    </template>
                </modal>
            </main>
            <footer>
                &copy; Copyright FOOD BLOG
            </footer>

        </div>
    </template>

    <template id="post">
        <div class="post">
            <span class="author">{{author.name}}</span> —
            <span class="date">{{author.date}}</span>
            <span class="reply">{{author.replay}}</span>
            <p>
                {{author.message}}
            </p>
        </div>
    </template>

    <template id="modal">
        <div class="modal">
            <div class="modal-title">{{modal.name}}
                <slot name="close" />
            </div>
            <div class=" modal-body">
                <div>
                    <b>Foodie Level:</b> {{modal.lvl}}
                </div>
                <div>
                    <b>Bio:</b> {{modal.bio}}
                </div>
            </div>
            <div class="modal-footer">
                <slot />
            </div>
        </div>
    </template>

    <script type="module" src="app.js"></script>
</body>

</html>